<div class="container arena-container">
		<div class="box chat chat-full noOverflow">

						<div class="box-header">



        <div class="nav-no-collapse header-nav">
            <ul class="nav navbar-nav pull-left">
							<li class="nav-item">
			                    <a href ui-sref="home" class="pull-left brand">
			                    	<i class="fa fa-arrow-left"></i>
			                        English Arena
			                    </a>  
			                    &nbsp;&nbsp;|&nbsp;<span>Chat</span>
			                </li>
			            </ul>


			</div>
            			</div>
						<div class="contacts">
							<ul class="list">
								<li ng-repeat="room in rooms" ng-click="joinRoom(room)">
									<span class="name">{{room.name}}</span>
								</li>
							</ul>
							<ul class="list" >
								<li ng-repeat="user1 in users" ng-if="user1.name!==user.name" ng-click="privateChat(user1)">
									<img class="avatar" ng-src="{{user1.picture_url}}" alt="avatar">
									<!--<img class="avatar" ng-src="http://www.theipadguide.com/images/facebook50x50.jpg" alt="avatar">-->
									<span class="name">{{user1.name}}</span>
									<span class="status online"></span>
									<!--<span class="important">0</span>-->
								</li>
							</ul>	
						</div>
						<div class="conversation">
							<div class="actions">
								<img ng-repeat="user1 in usersInCurrentRoom" class="avatar" ng-src="{{user1.picture_url}}" alt="avatar">
							</div>
							<ul class="talk">
								<li ng-repeat="message in messages">
									<!--<img class="avatar" src="http://www.theipadguide.com/images/facebook50x50.jpg" alt="avatar">-->
									<img class="avatar" ng-src="{{message.user.picture_url}}" alt="avatar">
									<span class="name">{{ message.user.name }}</span>
									<span class="time">{{ message.time }}</span>
									<div class="message">{{ message.message }}</div>
								</li>
							</ul>
							<div class="form">
								<input type="text" class="write-message" placeholder="Write Message" ng-model="message" ng-keypress="writeMessage($event)">
							</div>	
						</div>

					</div>
		

    </div>


