
    <div id="container" style="width:1400px">

        <div id="header" style="background-color:#FFA500;">
            <input type="text" ng-model="username" placeholder="Enter name">
            <button type="submit" ng-click='joinServer()'>Login</button>
            <p>{{currentRoom}}</p>
        </div>

        <div id="menu" style="background-color:#FFD700;height:700px;width:300px;float:left;">
            <div style="height:300px;background-color:#FFA500;">
                <p>rooms</p>
                <ul>
                    <li ng-repeat="room in rooms">
                        <p>{{room.name}}</p>
                        <button ng-click="joinRoom(room)" ng-hide="room.name === currentRoom.name">Join</button>
                    </li>
                </ul>
            </div>
            <div style="height:400px;background-color:#FFD700;">
                <p>user</p>
                <ul>
                    <li ng-repeat="user1 in users">
						<div ng-if="user1.name!==user.name">
							<p>{{user1.name}}</p>
							<button ng-click="privateChat(user1)">Chat</button>
						</div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content" style="background-color:#EEEEEE;height:700px;width:700px;float:left;">
            <div id="messages" style="background-color:gray; height:400px">
                <ul>
                    <li ng-repeat="message in messages">
                        <strong>{{ message.name }}</strong>: {{ message.message }}
                    </li>
                </ul>
            </div>
            <input type="text" placeholder="Enter message" ng-model="message">
            <button type="submit" ng-click='sendMessage()'>Send message</button>
        </div>

        <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        </div>

    </div>
