<div class="modal" id="my_modal" align="center" style="margin-top:7vh;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="left">
                <label class="h2" id="indexReview"></label>

            </div>
            <div class="modal-body" align="left">
                <div id="questionReview"></div>
                <div ng-show="answersForReview">
                    <ul ng-repeat="answer in answersForReview">
                        <li>
                            <span ng-bind="answer.text"></span>
                        </li>
                    </ul>
                </div>
                <div align="center">
                    <img id="questionPicture" ng-src="{{questionPictureUrl}}"
                         ng-show="questionPictureUrl" height="200px;"/><br/>

                    <button class="btn btn-success" ng-show="questionAudioUrl">

                        <a class="btn" ng-click="playAudio()" ng-show="!questionAudioForReview.playing">
                            <span class="glyphicon glyphicon-volume-up"></span>
                        </a>
                        <a class="btn" ng-show="questionAudioForReview.playing" ng-click="togglePauseAudio()">
<span class="glyphicon"
      ng-class="{'glyphicon-pause':questionAudioForReview.audioStatus==='play','glyphicon-play':questionAudioForReview.audioStatus==='pause'}">
</span>
                        </a>
                        <a class="btn" ng-show="questionAudioForReview.playing" ng-click="stopAudio()">
                            <span class="glyphicon glyphicon-stop"></span>
                        </a>
                    </button>
                </div>
                <p>
                    <span class="h4">Đáp án đúng:</span>
                    <span id="answerReview"></span>
                </p>

                <p ng-show="questionInPublic">
                    <span>Tags:</span>
                    <span class="label label-primary" ng-repeat="tag in tags" ng-bind="questionTags[tag-1].name"
                          style="margin: 3px;"></span>
                </p>

                <p ng-show="questionInPublic">
                    <span>Đóng góp bởi:</span>
                    <span id="questionAuthor"></span>
                </p>
                <hr/>

                <div ng-show="questionInPublic">
                    Đánh giá câu hỏi này có đúng và tốt không?

                    <span class="label label-warning"><span ng-bind="rates_count"></span> votes</span>
                    <button class="btn" ng-class="{'btn-primary': my_rate==1 }" ng-click="rateUp()"
                            ng-disabled="my_rate==1">Vote Up
                    </button>
                    <button class="btn" ng-class="{'btn-primary': my_rate==-1}" ng-click="rateDown()"
                            ng-disabled="my_rate==-1">Vote Down
                    </button>
                    <button class="btn btn-warning" ng-show="isYourQuestion==true" ng-click="editQuestion()">Chỉnh sửa
                    </button>
                    <button class="btn btn-success" ng-click="shareQuestion()">Chia Sẻ</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeQuestionModal()">Đóng
                </button>
            </div>
        </div>
    </div>
</div>