
<div class="container arena-container">

    <div class="box noOverflow">
        <div class="box-header">
            <div class="nav-no-collapse header-nav">
                <ul class="nav navbar-nav pull-left">
                    <li class="nav-item">
                        <a href ui-sref="home" class="pull-left brand">
                            <i class="fa fa-arrow-left"></i>
                            English Arena
                        </a>
                        &nbsp;&nbsp;|&nbsp;<span>Đóng góp cộng đồng</span>
                    </li>
                </ul>


            </div>
        </div>
        <div class="box-content">
            <br/>
            <div align="center">
                <button class="btn btn-success" ng-click="createNewQuestion()">Đóng góp Câu hỏi mới</button>
            </div>
            <br/>
            <div align="center">
                <h1>Đánh giá các Câu hỏi từ Cộng đồng</h1>
            </div>

            <div>
                <table class="table table-bordered">
<!--                     <thead align="center">
                        <td>ID</td>
                        <td>Câu hỏi</td>
                        <td>Tác giả</td>
                        <td>Ngày tạo</td>
                    </thead> -->
                    <tbody>
                        <tr ng-repeat="question in questions" ng-click="clickRow($index)">
                            <td align="center"><span class="votes-count" ng-bind="question.rates_count"></span> votes</td>
                            <td align="left" style="padding: 0% 5% 0% 5%;">
                            <div>
                                <div class="row" ng-show="question.question.text">
                                    <div ng-bind="question.question.text"></div>
                                    <div>
                                        <ur ng-repeat="answer in question.content.choices">
                                            <li ng-bind="answer.text"></li>
                                        </ur>
                                    </div>
                                </div>
                                <div class="row" ng-hide="question.question.text" ng-bind-template="Question audio">
                                </div>

                                <div class="row" ng-show="question.question.picture_url">
                                    <img ng-src="{{question.question.picture_url}}" height="100px;">
                                </div>

                                <div class="row" ng-bind-template="Đáp án đúng : {{question.answer}}"></div>

                            </div>
                            </td>
                            <td><span ng-bind="question.user.name" class="questions-user"></span>
                                <span ng-bind="timeAgo(question.created_at)" class="questions-time"></span></td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!--Modal for question review-->
    <div class="modal" id="my_modal" align="center" style="margin-top:10vh;" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="left">
                    <label class="h2" id="indexReview"></label>

                </div>
                <div class="modal-body" align="left">
                    <div id="questionReview"></div>
                    <div ng-show="answersForReview">
                        <ul ng-repeat="answer in answersForReview">
                            <li>
                                <span ng-bind="answer.text"></span>
                            </li>
                        </ul>
                    </div>
                    <div align="center">
                        <img id="questionPicture" ng-src="{{questionPictureUrl}}"
                             ng-show="questionPictureUrl" height="200px;"/><br/>

                        <button class="btn btn-success" ng-show="questionAudioUrl">

                            <a class="btn" ng-click="playAudio()" ng-show="!questionAudioForReview.playing">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </a>
                            <a class="btn" ng-show="questionAudioForReview.playing" ng-click="togglePauseAudio()">
                                        <span class="glyphicon"
                                              ng-class="{'glyphicon-pause':questionAudioForReview.audioStatus==='play','glyphicon-play':questionAudioForReview.audioStatus==='pause'}">
                                        </span>
                            </a>
                            <a class="btn" ng-show="questionAudioForReview.playing" ng-click="stopAudio()">
                                <span class="glyphicon glyphicon-stop"></span>
                            </a>
                        </button>
                    </div>
                    <p>
                        <span class="h4">Đáp án đúng:</span>
                        <span id="answerReview"></span>
                    </p>
                    <p>
                        <span>Tags:</span>
                        <span class="label label-primary" ng-repeat="tag in tags" ng-bind="questionTags[tag-1].name" style="margin: 3px;"></span>
                    </p>
                     <p>
                        <span>Đóng góp bởi:</span>
                        <span id="questionAuthor"></span>
                    </p>
                <hr/>
                <div>
                        Đánh giá câu hỏi này có đúng và tốt không?

                        <span class="label label-warning"><span ng-bind="rates_count"></span> votes</span>
                    <button class="btn" ng-class="{'btn-primary': my_rate==1 }" ng-click="rateUp()" ng-disabled="my_rate==1">Vote Up</button>
                    <button class="btn" ng-class="{'btn-primary': my_rate==-1}" ng-click="rateDown()" ng-disabled="my_rate==-1">Vote Down</button>
                    <button class="btn btn-warning" ng-show="isYourQuestion==true" ng-click="editQuestion()">Chỉnh sửa</button>
                    <button class="btn btn-success" ng-click="shareQuestion()">Chia Sẻ</button>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeQuestionModal()">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>
