
<div class="container arena-container">

    <div class="box noOverflow">
        <div class="box-header">
            <div class="nav-no-collapse header-nav">
                <ul class="nav navbar-nav pull-left">
                    <li class="nav-item">
                        <a href ui-sref="home" class="pull-left brand">
                            <i class="fa fa-arrow-left"></i>
                            English Arena
                        </a>
                        &nbsp;&nbsp;|&nbsp;<span>Đóng góp cộng đồng</span>
                    </li>
                </ul>


            </div>
        </div>
        <div class="box-content">
            <div align="right">
                <button class="btn btn-success" ng-click="createNewQuestion()">Đóng góp câu hỏi mới</button>
            </div>
            <div align="center">
                <h1>Câu hỏi</h1>
            </div>

            <div>
                <table class="table table-bordered">
                    <thead align="center">
                        <td>ID</td>
                        <td>Câu hỏi</td>
                        <td>Tác giả</td>
                        <td>Ngày tạo</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="question in questions" ng-click="clickRow($index)">
                            <td ng-bind="question.id" align="center"></td>
                            <td align="left" style="padding: 0% 5% 0% 5%;">
                                <div class="row" ng-show="question.question.text">
                                <div ng-bind="question.question.text"></div>
                                <div>
                                    <ur ng-repeat="answer in question.content.choices">
                                        <li ng-bind="answer.text"></li>
                                    </ur>
                                </div>
                            </div>
                                <div class="row" ng-hide="question.question.text" ng-bind-template="Question audio">
                                </div>

                                <div class="row" ng-show="question.question.picture_url">
                                    <img ng-src="{{question.question.picture_url}}" height="100px;">
                                </div>

                                <div class="row" ng-bind-template="Đáp án đúng : {{question.answer}}"></div>
                            </td>
                            <td ng-bind="question.user.name"></td>
                            <td ng-bind="question.created_at"></td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!--Modal for question review-->
    <div class="modal" id="my_modal" align="center" style="margin-top:10vh;" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="left">
                    <label class="label label-primary" id="indexReview"></label>
                    <div id="questionReview"></div>
                    <div ng-show="answersForReview">
                        <ul ng-repeat="answer in answersForReview">
                            <li>
                                <span ng-bind="answer.text"></span>
                            </li>
                        </ul>
                    </div>
                    <div align="center">
                        <img id="questionPicture" ng-src="{{questionPictureUrl}}"
                             ng-show="questionPictureUrl" height="200px;"/><br/>

                        <button class="btn btn-success" ng-show="questionAudioUrl">

                            <a class="btn" ng-click="playAudio()" ng-show="!questionAudioForReview.playing">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </a>
                            <a class="btn" ng-show="questionAudioForReview.playing" ng-click="togglePauseAudio()">
                                        <span class="glyphicon"
                                              ng-class="{'glyphicon-pause':questionAudioForReview.audioStatus==='play','glyphicon-play':questionAudioForReview.audioStatus==='pause'}">
                                        </span>
                            </a>
                            <a class="btn" ng-show="questionAudioForReview.playing" ng-click="stopAudio()">
                                <span class="glyphicon glyphicon-stop"></span>
                            </a>
                        </button>
                    </div>
                    <div align="left" class="row">
                        <span class="label label-success">Đáp án đúng :</span>
                        <div id="answerReview" style="display: inline;"></div>
                    </div>
                    <div align="left" class="row">
                        <span class="label label-warning">Tags :</span>
                        <span class="label label-primary" ng-repeat="tag in tags" ng-bind="questionTags[tag-1].name" style="margin: 3px;"></span>
                    </div>
                    <div align="left" class="row">
                        <span class="label label-primary">Liked :</span>
                        <div ng-bind="rates_count" style="display: inline;"></div>
                    </div>
                </div>
                <div class="modal-body" align="left">
                    <button class="btn" ng-class="{'btn-primary': my_rate==1 }" ng-click="rateUp()" ng-disabled="my_rate==1">Thích</button>
                    <button class="btn" ng-class="{'btn-primary': my_rate==-1}" ng-click="rateDown()" ng-disabled="my_rate==-1">Không thích</button>
                    <button class="btn btn-warning" ng-show="isYourQuestion==true" ng-click="editQuestion()">Chỉnh sửa</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeQuestionModal()">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>
