<div class="container arena-container">
    <div class="jumbotron challenge">
        <!--
        Row 1
        -->
        <div class="row">
            <div class="col-xs-6 row-profile-left" style=" border-right: thin solid grey;">
                <!--<div class="row" align="center">-->
                <!--<img ng-src="{{profile.picture_url}}">-->
                <!--</div>-->
                <!--<div class="row" align="center" style="margin-top: 3px;">-->
                <!--<div ng-bind="profile.name"></div>-->
                <!--</div>-->
                <div class="col-md-3">
                    <img ng-src="{{profile.picture_url}}">
                </div>
                <div class="col-md-9" ng-bind="profile.name" align="left"></div>
            </div>
            <div class="col-xs-6 row-profile-right">
                <div class="row" align="center" ng-bind-template="Tổng điểm : {{score}}">
                </div>
                <div class="row" align="center"
                     ng-bind-template="Câu hỏi hiện tại: {{currentQuestion+1}}/{{numberOfQuestion}}">
                </div>
            </div>
        </div>
        <hr style="border-top: thin solid grey;">
        <!--
        Row 2
        -->
        <div class="row">
            <div class="arena-progress">
                <div>
                    <div ng-repeat=" result in results" class="arena-circle"
                         ng-class="{'arena-done':result.correct==1,'arena-fail':result.correct==0}">
                        <!--<span class="arena-label" ng-bind="$index+1"></span>-->
                        <span class="arena-label" ng-bind-template="{{result.score}}"></span>
                        <!--<span class="arena-title" ng-bind-template="+{{result.score}}"></span>-->
                    </div>
                </div>
            </div>
        </div>
        <!--
        Row 3
         -->
        <div class="row row-question" ng-bind="question.question" align="center">
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 ng-style="{width: getProgress()} "
                 ng-class="{'progress-bar-warning': countDown/timeout<0.7, 'progress-bar-danger': countDown/timeout<0.4}">
            </div>
        </div>
        <!--
        Row 4
        -->
        <div class="row">
            <div ng-repeat="choice in question.content.multichoices" class="col-md-6">
                <button type="button" class="btn  choice-button" ng-click="clickAnswer($index)"
                        ng-class="{'btn-success' :answers[$index].correct==1, 'btn-danger':answers[$index].correct==0}"
                        ng-disabled="disabledButton==true">
                    <span ng-bind="['A','B','C','D'][$index]" class="badge choice-span"></span>
                    {{choice.text}}
                </button>
            </div>
        </div>

        <!--
        Modal : check correct answer !
        -->
        <!--<input type="checkbox" ng-model="showDialog"> Show-->
        <div id="showCheckCorrectAnswer" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content arena-modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        -->
                        <h4 class="modal-title arena-modal-title">Chính xác !</h4>
                    </div>
                    <!--<div class="modal-body">-->
                    <!--<p>One fine body&hellip;</p>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--
      Modal : Starting Quiz !
      -->
        <!--<input type="checkbox" ng-model="showDialog"> Show-->
        <div id="startModalChallenge" class="modal ">
            <div class="modal-dialog">
                <div class="modal-content arena-modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        -->
                        <h4 class="modal-title arena-modal-title" ng-bind="ThreeToZero"></h4>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--
           Modal : Finished challenge !
           -->
        <div id="finishModalChallenge" class="modal">
            <div class="modal-dialog">
                <div class="modal-content arena-modal-finish ">
                    <div class="modal-body" align="center">
                        <div class="row h4" ng-bind-template="Tổng điểm của bạn: {{score}}"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered arena-table-results" width="50%">
                                    <thead>
                                    <tr>
                                        <th>Câu hỏi</th>
                                        <th>Đáp án của bạn</th>
                                        <th>Đáp án đúng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="result in tableOfResults" valign="middle">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="['A','B','C','D'][result.yourAnswer]"></td>
                                        <td ng-bind="['A','B','C','D'][result.correctAnswer]"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <p ng-bind-template="Huy chương :"></p>
                                    <img ng-src="{{medalUrl}}">
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-success" ng-click="reloadChallenge()"
                                            data-dismiss="modal">
                                        Trận mới
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            ng-click="exitChallenge()">Đóng
                                    </button>
                                </div>

                                <div class="survey row alert alert-info">
                                    <span class="label label-primary">Góp ý</span>
                                    <div><div>Chào <b class="ng-binding">Vo Thanh Cong</b>,</div> English Arena cần bạn!<br>Dành vài phút góp ý để Arena phát triển tốt hơn bạn nhé! <br><a href="https://docs.google.com/forms/d/16qRKfCrXxq12D5VJdROVJ8eAr07nDB0v9qwXOncGfvw/viewform?usp=send_form" target="_blank" ng-click="takeSurvey()"><button class="btn btn-small btn-primary">Góp ý tại đây</button></a></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>