
<div class="container arena-container">
    <div class="challenge">

        <div class="row challenge-title">
            <div class="col-xs-5 row-profile-left alert alert-warning">
                <div style="float: left;">
                    <img class="avatar" ng-src="{{gameData.players.user.picture_url}}">
                </div>
                <div class="col-md-9">
                    <div class="name" ng-bind="gameData.players.user.name" align="left"></div>
                </div>
            </div>
            <div class="col-xs-2" align="center">
                <!-- <b style="line-height: 70px;">VS</b> -->

                      <div class="tempStatBox">
                        <div class="tempStat" style="border-color: rgb(103, 194, 239);">VS</div>
                    </div>
            </div>
            <div class="col-xs-5 row-profile-right alert alert-warning">
                <div class="col-md-9">
                    <div class="name" ng-bind="gameData.players.opponent.name" align="right"></div>
                    <div class="status" ng-hide="gameData.players.opponent.result.point"
                            ng-bind-template="Chưa thi đấu"></div>
                </div>
                <div style="float: right;">
                    <img class="avatar" ng-src="{{gameData.players.opponent.picture_url}}">
                </div>
            </div>
        </div>
        <br/>

        <div align="center">
        	<br/>
        	<br/>
        	<h1>Đang tải...</h1>
    	</div>

        <!--<div class="row" style="float: left;">-->
            <!--<div>-->
                <!--<img ng-src="{{gameData.players.user.picture_url}}" ><br/>-->
                <!--<div class="" ng-bind="gameData.players.user.name" align="left"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" style="float:right;">-->
            <!--<div>-->
                <!--<img ng-src="{{gameData.players.opponent.picture_url}}" ><br/>-->
                <!--<div class="" ng-bind="gameData.players.opponent.name" align="left"></div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>