<div class="container arena-container">
    <div class="jumbotron challenge">

    	<!--<div class="row">-->
            <!--<div class="col-xs-6 row-profile-left" style=" border-right: thin solid grey;">-->
                <!--<div class="col-md-3">-->
                    <!--<img ng-src="{{gameData.players.user.picture_url}}">-->
                <!--</div>-->
                <!--<div class="col-md-9" ng-bind="gameData.players.user.name" align="left"></div>-->
            <!--</div>-->
            <!--<div class="col-xs-6 row-profile-right">-->
                <!--<div class="col-md-3">-->
                    <!--<img ng-src="{{gameData.players.opponent.picture_url}}">-->
                <!--</div>-->
                <!--<div class="col-md-9" ng-bind="gameData.players.opponent.name" align="left"></div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div align="center">-->
        	<!--<br/>-->
        	<!--<br/>-->
        	<!--<h1>Loading Game...</h1>-->
    	<!--</div>-->

        <div class="row" style="float: left;">
            <div>
                <img ng-src="{{gameData.players.user.picture_url}}" ><br/>
                <div class="" ng-bind="gameData.players.user.name" align="left"></div>
            </div>
        </div>
        <div class="row" style="float:right;">
            <div>
                <img ng-src="{{gameData.players.opponent.picture_url}}" ><br/>
                <div class="" ng-bind="gameData.players.opponent.name" align="left"></div>
            </div>
        </div>

    </div>
</div>