<div class="container arena-container">
    <div class="challenge">
        <!--
        Row 1
        -->

        <div class="row challenge-title">
            <div class="col-xs-5 row-profile-left alert alert-warning">
                <div style="float: left;">
                    <img class="avatar" ng-src="{{gameData.players.user.picture_url}}">
                </div>
                <div class="col-md-9">
                    <div class="name" ng-bind="gameData.players.user.name" align="left"></div>
                    <div class="score" ng-bind="gameData.players.user.result.point" align="left"></div>
                </div>
            </div>
            <div class="col-xs-2" align="center">
                <!-- <b style="line-height: 70px;">VS</b> -->

                    <div class="tempStatBox">
                        <div class="tempStat" style="border-color: rgb(103, 194, 239);">VS</div>
                        
                    </div>
            </div>
            <div class="col-xs-5 row-profile-right alert alert-warning">
                <div class="col-md-9">
                    <div class="name" ng-bind="gameData.players.opponent.name" align="right"></div>
                    <div class="score" ng-bind="gameData.players.opponent.result.point" align=""></div>
                    <div class="status" ng-hide="gameData.players.opponent.result.point"
                            ng-bind-template="Chưa thi đấu"></div>
                </div>
                <div style="float: right;">
                    <img class="avatar" ng-src="{{gameData.players.opponent.picture_url}}">
                </div>
            </div>
        </div>

        <!-- <hr style="border-top: thin solid grey;"> -->
        <!--
        Row 2
        -->
        <div class="row" align="center">
            <span ng-bind-template="Câu hỏi hiện tại: {{currentQuestion+1}}/{{numberOfQuestion}}"></span>
            <div class="arena-progress">
                <div>
                    <div ng-repeat=" result in results" class="arena-circle"
                         ng-class="{'arena-done':result.correct==1,'arena-fail':result.correct==0}">
                        <span class="arena-label" ng-bind-template="{{result.score}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--
        Row 3
         -->
        <div class="row row-question" align="center"
             ng-class="{'question-content':question.question.audio_url==null,'question-tutorial':question.question.audio_url!=null }">
            <div ng-show="question.question.text" ng-bind="question.question.text"></div>
            <div align="center">
                <img id="questionPicture" align="middle" ng-show="question.question.picture_url"
                     ng-src="{{question.question.picture_url}}" height="200px"/>
            </div>
        </div>
        


        <!--
        Row 4
        -->
        <div class="progress">
            <div class="progress-bar progress-bar-success active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 ng-style="{width: getProgress()} "
                 ng-class="{'progress-bar-warning': countDown/timeout<0.7, 'progress-bar-danger': countDown/timeout<0.4}">
            </div>
        </div>

        <div class="row">
            <div ng-repeat="choice in question.content.choices" class="col-md-6">
                <button type="button" class="btn  choice-button" ng-click="clickAnswer($index)"
                        ng-class="{'btn-success' :answers[$index].correct==1, 'btn-danger':answers[$index].correct==0}"
                        ng-disabled="disabledButton==true">
                    <span ng-bind="['A','B','C','D'][$index]" class="badge choice-span"></span>
                    {{choice.text}}
                </button>
            </div>
        </div>


       

        <!--
        Modal : check correct answer !
        -->
        <!--<input type="checkbox" ng-model="showDialog"> Show-->
        <div id="showCheckCorrectAnswer" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content arena-modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title arena-modal-title">Chính xác !</h4>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--
      Modal : Starting Quiz !
      -->
        <!--<input type="checkbox" ng-model="showDialog"> Show-->
        <div id="startModalChallenge" class="modal ">
            <div class="modal-dialog">
                <div class="modal-content arena-modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        -->
                        <h4 class="modal-title arena-modal-title" ng-bind="ThreeToZero"></h4>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</div>