


<div class="container arena-container">
    <div class="jumbotron challenge">
        <div align="center">
            <p><h1>class="h1">Chào bạn !</h1></p>
            <p><h2>Hiện tại English Arena vẫn chưa hỗ trợ trình duyệt FireFox và IE.</h2></p>
            <p><h2>Vui lòng sử dụng trình duyệt Chrome hoặc Cốc Cốc để được hỗ trợ tốt nhất.</h2></p>
            <a class="label label-success" href="http://www.google.com.vn/intl/vi/chrome/"><h3>Tải Chrome</h3></a>
            <a class="label label-primary" href="http://coccoc.com/"><h3>Tải Cốc Cốc</h3></a>
        </div>
    </div>

</div>