<html ng-app="arena">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/challenge.css">
    <link rel="stylesheet" href="/css/circle-progress.css">
    <link rel="stylesheet" href="/css/home.css">
    <link type="text/css" href="/vendor/facebook-friend-selector/jquery.friend.selector-1.2.1.css" rel="stylesheet"/>

    <title>Trình duyệt chưa được hỗ trợ</title>
</head>
<body>


<div class="container arena-container">
    <div class="jumbotron challenge">
        <div align="center">
            <p>

            <div class="h1">Chào bạn !</div></p>
            <p>

            <h2>Hiện tại <b>English Arena</b> chỉ mới hỗ trợ trên 2 trình duyệt là <b>Chrome</b> và <b>Cốc Cốc</b>.</h2></p>
            <p>

            <h2>Vui lòng sử dụng trình duyệt Chrome hoặc Cốc Cốc để được hỗ trợ tốt nhất.</h2></p>
            <a class="label label-success h2" href="http://www.google.com.vn/intl/vi/chrome/"> Tải Chrome</a>
            <a class="label label-primary h2" href="http://coccoc.com/">Tải Cốc Cốc</a>
        </div>
    </div>
</div>
</body>

</html>