.course-detail-info {
	margin-top: 20px;
	margin-bottom: 20px; 
}
.course-navigator {
    margin-top: 15px;
    margin-bottom: 15px;
}
.course-navigator-link {
    text-decoration: underline
}
.action-bar {
    margin-bottom: 20px;
}


.nav>li>a {
	padding: 0px;
}

a.navbar-brand {
	background: transparent;
	text-align: center;
	border-bottom: 0px;
	padding: 9px 0 10px 0!important;
	color: white;
}

.navbar-default .navbar-brand, .navbar a {
	color: white;	
}

.box {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}

.btn {
    border-radius: 21px;
}

.btn-sm {
	border-radius: 14px;	
}
