


<div class="container arena-container">
	<div class="challenge">
		<h1>Giúp đỡ</h1>
		<br/>
    
        <div align="left" class="help">

<p><em>English Arena được tạo ra với sứ mệnh tạo nên một môi trường mới: vui hơn, tương tác hơn cho các bạn học tiếng Anh.</em></p>

<p>English Arena không được tạo ra với mục đích thay thế các cách học tiếng Anh truyền thống, các trang web học tiếng Anh hiện tại hay các trung tâm dạy tiếng Anh. Ngược lại, Arena mong muốn hỗ trợ cách học hiện tại, chúng tôi thêm vào 1 chút gia vị để việc học tiếng Anh bớt cô đơn, nhiều hơn tương tác hơn và thêm 1 chút hồi hộp.</p>

<ul>
<li>Bạn chán với cách luyện nghe TOEIC một mình với máy, bạn có thể thách thức Bạn bè mình trên các bộ câu hỏi của Arena.</li>

<li>Bạn có thể kết bạn với những người bạn khác có cùng mục tiêu học tập tiếng Anh.</li>

<li>Chúng tôi cố gắng thêm nhiều câu hỏi để bạn có thể học tập, nhưng vì số lượng có hạn, khi bạn đã chơi hết kho câu hỏi trên Arena, bạn có thể giúp chúng tôi thêm câu hỏi vào Arena. Nhiều người chơi khác cũng sẽ cảm ơn bạn!</li>

<li>Nếu là giáo viên, bạn có thể tạo ra 1 bộ câu hỏi và gởi cho các học sinh của mình trong lớp. English Arena sẽ sớm có mặt trên di động.</li>
</ul>

<p>Cảm ơn bạn đã sử dụng English Arena!</p>

<hr/>

<p>Đội ngũ đã đóng góp tạo nên English Arena:</p>
<ul>
<li>Đỗ Công Bá</li>
<li>Võ Thành Công</li>
<li>Hiền Hoàng</li>
<li>Hoàng Lâm</li>
<li>Trương Văn Linh</li>
<li>Nguyễn Văn Thái</li>
<li>Kay Sunflower</li>
<li>Việt Võ</li>
</ul>

<p>Bạn có thể liên lạc với chúng tôi qua email: athanhcong at gmail.com.</p>

        

        <button ng-click="playSoundClickedButton()" class="btn btn-primary" ui-sref="home">Trở về</button>

</div>

<br/>
            <div class="fb-comments" data-href="https://apps.facebook.com/englisharena" data-numposts="5" data-colorscheme="light" href="https://apps.facebook.com/englisharena"></div>





    </div>



</div>




<script type="text/javascript">

    jQuery(document).ready(function($) {
        var showDialog = function() {
            FB.ui({
                method: 'apprequests',
                message: "Tham gia đấu trường English Arena",
                filters: [{name :'Friends to invite', user_ids: friendIds}]
            }, function(response){
                ApolloAnalytics.track('Invite Friends', {'friends': response});
            });
        };

        // rescan Facebook Comments box
        FB.XFBML.parse();
    });
</script>