<div class="container arena-container">
    <div class="col-lg-12">

        <div class="box home chat chat-full noOverflow">

            <div class="box-title" align="center" >
                English Arena
            </div>

            <div class=" home-main" >
                <div class="actions" align="center">
                   <button class="label  label-success" ui-sref="challenge">Trận Mới</button>
                </div>

                    <div class="activities">
                        <table>
                            <tbody>
                            <tr ng-repeat="activity in activities">
                                <td>
                                    <div class="row"><img class="avatar" ng-src="{{activity.user.picture_url}}" alt="avatar"></div>
                                    <div class="row"><span class="name" ng-bind="activity.user.name"></span></div>

                                </td>
                                <td class="score">
                                    <span><b>1 -- 1</b></span>
                                </td>
                                <td>
                                    <div class="row"><img class="avatar" ng-src="{{activity.receiver.picture_url}}" alt="avatar"></div>
                                    <div class="row"><span class="name" ng-bind="activity.receiver.name"></span></div>
                                </td>
                                <td>
                                    <button type="button" class="btn"
                                            ng-bind="(activity.is_finished)?'Lượt Mới':'Nhận Lời'"
                                            ng-class="{'btn-success' :activity.is_finished, 'btn-danger':activity.is_finished==null}">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                <div class="form" align="center">
                    <span class="label label-success h1" >Điểm cao nhất của bạn trong tuần</span>
                </div>
            </div>
            <div class="contacts">
                <div class="box span4" ontablet="span6" ondesktop="span4">
                    <div class="box-header">
                        <h2><i class="fa fa-user"></i>Bạn Bè</h2>

                    </div>
                    <div class="box-content">
                        <ul  class="dashboard-list">
                            <li ng-repeat="friend in friends">
                                <a >
                                    <img class="avatar" alt="{{friend.name}}" ng-src="{{friend.picture_url}}">
                                </a>
                                <b ng-bind="friend.name"></b><br>
                                <strong>Điểm cao :</strong> 1111<br>
                                <button class="label label-success" ng-click="">Thách Đấu</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>