<div class="container arena-container">
    <div class="col-lg-12">

        <div class="box home chat chat-full noOverflow">

            <div class="box-title" >
                <div class="col-md-8" align="center">
                    <span class="title">English Arena</span>
                </div>
                <div class="col-md-4" align="right">
                    <span ng-click="doHelp()">
                        <i class="fa fa-question-circle"></i> <span>Hướng dẫn</span>
                    </span>
                </div>
            </div>

            <div class="home-main" >
                <div class="actions" align="center">
                    <button class="btn btn-lg btn-success btn-action" ui-sref="challenge">Trận Mới</button>
                </div>
                <div class="section-header">
                        <h2><i class="fa fa-flash"></i>Các Trận đấu đang diễn ra</h2>
                        
                    </div>

                    <div class="activities">
                        <table>
                            <tbody>
                            <tr ng-repeat="activity in activities">
                                <td>
                                    <div class="row"><img class="avatar" ng-src="{{activity.user.picture_url}}" alt="avatar"></div>
                                    <div class="row"><span class="name" ng-bind="activity.user.name"></span></div>

                                </td>
                                <td class="score">
                                    <span class="blue"><b>1 : 1</b></span>
                                </td>
                                <td>
                                    <div class="row"><img class="avatar" ng-src="{{activity.receiver.picture_url}}" alt="avatar"></div>
                                    <div class="row"><span class="name" ng-bind="activity.receiver.name"></span></div>
                                </td>
                                <td>
                                    <button type="button" class="btn"
                                            ng-bind="(activity.is_finished)?'Lượt Mới':'Nhận Lời'"
                                            ng-class="{'btn-success' :activity.is_finished, 'btn-danger':activity.is_finished==null}"
                                            ng-click="acceptChallenge(activity)">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                <div class="status">
                    <span class="trophy label label-info"><i class="fa fa-trophy"></i></span><span class="highscore h4">Điểm cao nhất của bạn trong tuần: 4300</span>
                </div>
            </div>
            <div class="contacts">
                <div class="span4" ontablet="span6" ondesktop="span4">
                    <div class="section-header">
                        <h2><i class="fa fa-user"></i>Bạn bè</h2>

                    </div>
                    <div class="box-content">
                        <ul  class="dashboard-list">
                            <li ng-repeat="friend in friends">
                                <a >
                                    <img class="avatar" alt="{{friend.name}}" ng-src="{{friend.picture_url}}">
                                </a>
                                <b ng-bind="friend.name"></b><br>
                                Điểm cao: <span>1111</span><br>
                                <button class="btn btn-sm btn-success" ng-click="challengeFriend(friend)">Thách Đấu</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>