


<div class="container arena-container">
<div class="jumbotron challenge">
    
        <img class="img-responsive center-block" src="images/EnglishArena_home.png" />
        <div class="container center">
            
        </div>

    
        <div align="left"><p>English Arena - Thử tài Tiếng Anh của bạn. Mỗi trận đấu sẽ có 10 câu hỏi. Hãy cố gắng để nhận được Huy Chương Vàng của Arena.</p></div>

        <div align="center">
            <!--ng-show="showButtonPlayGame"-->

            <!-- Play now! -->
            <a class="btn btn-lg btn-primary" ui-sref="challenge" >Bắt đầu chơi!</a>
        </div>


</div>
</div>