


<div class="container arena-container">
<div class="jumbotron challenge">
    
        <img class="img-responsive center-block" src="images/EnglishArena_home.png" height="300" width="300"/>
        <div class="container center">
            
        </div>

    
        <div align="left"><p>English Arena - Thử tài Tiếng Anh của bạn. Mỗi trận đấu sẽ có 10 câu hỏi. Hãy cố gắng để nhận được Huy Chương Vàng của Arena.</p></div>

        <div align="center">
            <!--ng-show="showButtonPlayGame"-->

            <!-- Play now! -->
            <a class="btn btn-lg btn-primary" ng-show="profile && isArenaInsideFacebook" ui-sref="home" >Bắt đầu chơi!</a>

            <span class="h3" ng-show="!profile && isArenaInsideFacebook">Đang tải...</span><br/><br/>

            <a ng-click="playSoundClickedButton()" class="btn btn-lg btn-primary"
               ng-hide="isArenaInsideFacebook" href="http://apps.facebook.com/englisharena" >
                Bắt đầu chơi trên Facebook
            </a>



            <!--<div ng-hide="profile">-->
                <!--<span class="h4 label label-danger">-->
                <!--Vui lòng sử dụng Chrome/Cốc cốc để được hỗ trợ tốt nhất !-->
                <!--</span>-->
                <!--<a class="btn btn-primary" ng-hide="profile" href="http://www.google.com.vn/intl/vi/chrome/"><b>Tải Chrome</b></a>-->
            <!--</div>-->

            <!-- <a class="btn btn-lg btn-primary" ng-show="!profile" ng-click="loginWithFacebook()" >Đăng nhập</a> -->

        </div>


</div>
</div>