<div class="container arena-container">
        

        <div class="box noOverflow">
            <div class="box-header">
                <h2><a href ui-sref="home"><i class="fa fa-arrow-left"></i></a>Create new question</h2>        
            </div>
            <div class="box-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="questionContent">Question content</label>
                        <div class="controls">
                            <input type="text" id="questionContent" class="form-control" ng-blur="questionContentChange()"
                                   ng-model="question.questionContent" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="correctAnswer">Correct answer</label>
                        <div class="controls">
                            <select id="correctAnswer" class="form-control">
                                <option ng-repeat="answer in question.answers" value="{{answer}}" ng-bind="['A','B','C','D'][answer]"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="difficultyLevel">Difficulty level</label>
                        <div class="controls">
                            <select id="difficultyLevel" class="form-control">
                                <option ng-repeat="difficultyLevel in question.difficultyLevels" value="{{difficultyLevel}}" ng-bind="difficultyLevel"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Multiple tags</label>
                        <div class="controls">
                            <div ng-repeat="tag in question.questionTags">
                                <div class="col-md-4">
                                    <input type="checkbox" name="chk_group[]" value="{{tag}}" ng-bind="">
                                    {{['Toeic','Ielts','Toefl','Grammar','Reading','Vocabulary','Listening','Very Easy','Starter',
                                    'Developing','Target','Analyst','photographs','question-response'][tag-1]}}<br/>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-sm-offset-9 col-sm-3">
                            <button ng-click="postQuestion()" class="btn btn-lg btn-success">Add Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
