
<div class="container arena-container">
    <div class="challenge">

        <div class="row challenge-title">
            <div class="col-xs-5 row-profile-left alert alert-warning">
                <div>
                    <div style="float: left;">
                        <img class="avatar" ng-src="{{gameData.players.user.picture_url}}">
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="name" ng-bind="gameData.players.user.name" align="left"></div>
                    <div class="score" ng-bind="gameData.players.user.result.point" align="left"></div>
                </div>
            </div>
            <div class="col-xs-2" align="center">
                <div class="tempStatBox">
                        <div class="tempStat" style="border-color: rgb(103, 194, 239);">VS</div>
                        
                    </div>
            </div>
            <div class="col-xs-5 row-profile-right alert alert-warning">
                <div class="col-xs-9">
                    <div class="name" align="right">Đấu thủ ngẫu nhiên</div>
                    <div class="score" ng-bind="gameData.players.opponent.result.point" align=""></div>
                    <div class="status" ng-hide="gameData.players.opponent.result.point"
                            ng-bind-template="Chưa thi đấu"></div>
                </div>
                <div style="float: right;">
                    <img class="avatar" ng-src="{{gameData.players.opponent.picture_url}}"
                        ng-show="gameData.players.opponent.picture_url"/>
                    <img class="avatar" ng-src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                        ng-hide="gameData.players.opponent.picture_url"/>
                </div>
            </div>
        </div>

        <br/>

        <h1>Chọn Chủ đề Thách đấu</h1>

        <br/>

        <div class="arena-topics row">
            <div class="col-xs-4">
                <ul class="topics">
                   <li class="topic selected" ng-repeat="tag in tags">
                        <span class="tag-name" ng-bind="tag.name"></span><span class="indicator fa fa-chevron-right"></span>
                   </li>
                </ul>
            </div>
            <div class="col-xs-8">
                <ul class="subtopics">
                    <li ng-class='info' ng-repeat="tagDetail in tags[0].children"
                        data-toggle="tooltip" data-placement="top" title="{{tagDetail.description}}">


                        <span class="tag-name" ng-bind="tagDetail.name"></span>
                        <span style="float: right;">
                            <button class="btn btn-success" ng-click="chooseTags(tagDetail.ids)">Thách Đấu</button>
                        </span>
                        <br/>
                        <span class="label label-info" ng-repeat="label in tagDetail.label" ng-bind="label"></span>
                        <span class="label label-info">Beginner</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

