<div class="container arena-container">
    <div class="jumbotron challenge">

    	<div class="row">
            <div class="col-xs-6 row-profile-left" style=" border-right: thin solid grey;">
                <div class="col-md-3">
                    <img ng-src="{{gameData.players.user.picture_url}}">
                </div>
                <div class="col-md-9" ng-bind="gameData.players.user.name" align="left"></div>
            </div>
            <div class="col-xs-6 row-profile-right">
                <div class="col-md-3">
                    <img ng-src="{{gameData.players.opponent.picture_url}}">
                </div>
                <div class="col-md-9" ng-bind="gameData.players.opponent.name" align="left"></div>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-4" align="center">
                <table class="table table-bordered">
                    <thead>
                        <th class="danger">Chủ Đề</th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="topic in topics">
                           <td ng-bind="['TOEIC'][topic]" ng-class="{'info':($index%2)==0,'danger':($index%2)!=0}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <thead>
                    <th class="danger">Thể Loại</th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="tagDetail in tagDetails">
                            <td ng-class="{'info':($index%2)==0,'danger':($index%2)!=0}">
                                <span ng-bind="tagDetail.name"></span>
                                <span style="float: right;">
                                    <button class="btn btn-success" ng-click="chooseTags(tagDetail.tags)">Thách Đấu</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>